<form class='container mt-2' method='POST' action='/me/handleActionDestroy'>
    <div class='row'>
        <div class='col-12'>
            <div class='list-course'>
                <a class='link-recycle' href='/me'><i class='fas fa-undo'></i>
                    Danh sách khóa học</a>
                <h3 class='text-center mb-3 mt-3'>Khóa học đã hủy</h3>
                <div class="d-flex align-items-center justify-content-start mb-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkAll">
                        <label class="form-check-label" for="checkAll">Chọn tất cả</label>
                    </div>
                    <div class="form-group mt-auto mb-auto mr-3 ml-3" id="selectActions">
                        <select class="form-control" id="selectActions" required name='actions'>
                        <option value="" selected disabled> -- Chọn hành động -- </option>
                        <option value="deleteMany">Xóa vĩnh viễn</option>
                        <option value="restore">Khôi phục</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" id="btnAction" disabled>Thực hiện</button>
                </div>
            </div>
            <table class='table table-responsive-sm text-center'>
                <thead>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>ID</th>
                        <th scope='col'>Khóa học</th>
                        <th scope='col'>Mô tả</th>
                        <th scope='col'>Thời gian xóa</th>
                        <th scope='col'>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each course}}
                    <tr>
                            <td>
                                <input type="checkbox" class="form-check-input" value="{{this._id}}" name='courseIds[]'>
                            </td>
                            <th scope='row'>{{sum @index 1}}</th>
                            <td>{{this.title}}</td>
                            <td class='meDescription'>{{this.description}}</td>
                            <td>{{this.deletedAt}}</td>
                            <td>
                                <a href='' class='btn btn-outline-primary btnRestore'
                                data-id='{{this._id}}'>Khôi phục</a>
                                <button
                                    class='btn btn-outline-danger mt-2 btn-submit btnDestroy'
                                    data-toggle='modal'
                                    data-target='#exampleModal'
                                    data-id='{{this._id}}'
                                >Xóa vĩnh viễn</button>
                            </td>
                        </tr>
                    {{else}}
                    <tr>
                        <td colspan='6'>Thùng rác trống. 
                            <a href='/me'>Danh sách khóa học</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</form>

<form name='form-delete' method='POST'></form>
<form name='form-restore' method='POST'></form>

<div class='modal' id='exampleModal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Thông báo</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Hành động không thể khôi phục. 
                    Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-primary'
                    data-dismiss='modal'
                >Hủy</button>
                <button type='button' class='btn btn-danger btnModal'>Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){ 
        var btnDestroy = $('.btnDestroy');
        var btnModalDelete = document.querySelector('.btnModal'); 
        var formDelete = document.forms['form-delete']; 
        var formRestore = document.forms['form-restore']; 
        var btnRestore = $('.btnRestore');
        var id;
        var btnAction = $('#btnAction');
        var checkAll = $('#checkAll');
        var courseIds = $('input[name="courseIds[]"]');
        //Lấy id mỗi bài viết
        btnDestroy.click(function(e){
            e.preventDefault();
            id = $(this).data('id');
        })
        btnModalDelete.onclick = function() { 
            formDelete.action = '/me/destroy/' + id + '?_method=DELETE';
            formDelete.submit(); 
        } 
        btnRestore.click(function(e){
            e.preventDefault();
            var courseId = $(this).data('id');
            formRestore.action = '/me/restore/' + courseId + '?_method=PATCH';
            formRestore.submit();
        })
        checkAll.change(function(){
            var isCheckAll = this.checked;
            courseIds.each(function(){
                this.checked = isCheckAll;
            })
            btnAction.prop('disabled', !courseIds.is(':checked'));
        })
        courseIds.change(function(){
            var isChecked = courseIds.filter(':checked').length === courseIds.length;
            checkAll.prop('checked', isChecked);
            btnAction.prop('disabled', !courseIds.is(':checked'));
        })
    })
</script>
<style>
    @media (max-width: 46.25em) {
    .meDescription{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        height: 170px;
        overflow-x: auto;
    }
    .meDescription::-webkit-scrollbar {
        width: 3px;
    }
    .meDescription::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .meDescription::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }
}
</style>